:root {
  font-family: system-ui, sans-serif;
  color: #202124;
  background: #f7f7f7;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

body {
  margin: 0;
}

main {
  padding: 2rem;
}
